.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightseagreen;
    color: white;
}

.navbar a {
    text-decoration: none;
    margin-right: 40px;
    color: white;
    font-size: 20px;
    padding-top: 100px;

}

.navbar a:hover {
    color: lightsalmon;
}